@using BTCPayServer.Plugins.Nano.Configuration
@using BTCPayServer.Plugins.Nano.Controllers
@using BTCPayServer.Abstractions.Contracts
@using Newtonsoft.Json.Linq
@using BTCPayServer;
@using BTCPayServer.Services.Stores
@using BTCPayServer.Payments

@inject SignInManager<ApplicationUser> SignInManager;
@inject NanoLikeConfiguration NanoLikeConfiguration;
@inject IScopeProvider ScopeProvider
@inject UINanoLikeStoreController UINanoLikeStore;
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    var store = Context.GetStoreData();

    bool enabled = false;
    bool walletEnabled = false;
    // TODO: Later get the code from some source
    var config = await UINanoLikeStore.getPaymentConfig(storeId, "XNO");

    if (config.Wallet != null) walletEnabled = true;
    enabled = config.Enabled;

    Console.WriteLine("Wallet Enabled is " + walletEnabled);
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ServerAdmin) &&
NanoLikeConfiguration.NanoLikeConfigurationItems.Any())
{
    var result = await UINanoLikeStore.GetVM(store);

    foreach (var item in result.Items)
    {

        var isActive = !string.IsNullOrEmpty(storeId) && ViewContext.RouteData.Values.TryGetValue("Controller", out var
        controller) && controller is not null &&
        nameof(UINanoLikeStoreController).StartsWith(controller.ToString() ?? string.Empty,
        StringComparison.InvariantCultureIgnoreCase) &&
        ViewContext.RouteData.Values.TryGetValue("cryptoCode", out var cryptoCode) && cryptoCode is not null &&
        cryptoCode.ToString() == item.CryptoCode && walletEnabled;
        <li class="nav-item">
            <a class="nav-link @(isActive ? "active" : "")" asp-route-cryptoCode="@item.CryptoCode" asp-route-storeId="@storeId"
                asp-action="WalletTransaction" asp-controller="UINanoLikeStore">
                <span class="me-2 btcpay-status btcpay-status--@(enabled ? "enabled" : "pending")"></span>
                <span>Nano</span>
            </a>
        </li>
        @if (isActive)
        {
            <li class="nav-item nav-item-sub">
                <a id="WalletNav-Send" class="nav-link" asp-route-storeId="@storeId" asp-controller="UINanoLikeStore"
                    asp-route-cryptoCode="@item.CryptoCode" asp-action="WalletSend" text-translate="true">Send</a>
            </li>

            <li class="nav-item nav-item-sub">
                <a id="WalletNav-Receive" class="nav-link" asp-controller="UINanoLikeStore" asp-action="WalletReceive"
                    asp-route-storeId="@storeId" asp-route-cryptoCode="@item.CryptoCode" text-translate="true">Receive</a>
            </li>

            <li class="nav-item nav-item-sub">
                <a id="WalletNav-Settings" class="nav-link" asp-controller="UINanoLikeStore" asp-action="WalletSettings"
                    asp-route-cryptoCode="@item.CryptoCode" asp-route-storeId="@storeId" text-translate="true">Settings</a>
            </li>
        }
    }
}
